#mainpage {
  background-image: url('../img/bay.jpg')
}
#mainnav {
  background-color: #DAF7A6;
  font-size: 20px;
  font-family: 'open sans condensed', sans-serif;
}

.img-left {
  float: left;
  padding-right: 20px;
}

.well {
  text-align: right;
}

.button {
  float: left;
  padding: 20px;
  margin: 15px;
}

.bold {
  font-weight: bold;
  padding: 5px;
}

.sidebar {
  background-color: #DAF7A6;
  float: right;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.links{
  float: left;
  padding: 5px;
  padding-top: 20px;
}
