#mainpage {
  background-image: url()
}

.well {
  text-align: right;
}

.button {
  float: left;
  margin: 5px;
}

.bold {
  font-weight: bold;
}

.sidebar {
  background-color: #DAF7A6;
  float: right;
}
