body{
  font-family: 'open sans condensed', sans-serif;
  background: url('../img/ferncopy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainnav {
  background-color: #bcd5d1;
  font-size: 20px;
  font-family: 'open sans condensed', sans-serif;
  border-color: #1d2120;
  height: 75%;
}

#pages {
  background: url('../img/fern.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.handwriting {
  font-size: 21px;
  padding: 10px;
  font-family: 'Nothing You Could Do', cursive;
  margin-left: 20px;
}

.list{
  background-color: #daad86;
}

.img-left {
  float: left;
  padding-right: 20px;
}

.img-right {
  float: right;
  padding-left: 20px;
}

.well {
  background-color: #5a5c51;
  border-color: #1d2120;
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
  height:200px;
}

.subhead {
  background-color: #bcd5d1;
}

.bold {
  font-weight: bold;
  padding: 5px;
}

.col-md-6{
  background-color: #daad86;
}

.thumbnail{
  background-color: #bcd5d1;
}

.sidebar {
  background-color: #DAF7A6;
  float: right;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.btn-default {
  background-color: #daad86;
  border-color: #1d2120;
}

.links{
  float: left;
  padding: 5px;
  padding-top: 20px;
}
